@use 'variaveis';
.trailer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../dist/images/trailer/background_footer__5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    &__container {
        padding-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
            text-align: center;
        }
        iframe {
            margin-top: 50px;
            @media screen and (max-width: 768px) {
                width: 350px;
            }
        }
    }
}