@use 'variaveis';
@use 'header';
@use 'hero';
@use 'characters';
@use 'sinopse';
@use 'cast';
@use 'drawer';
@use 'trailer';
@use 'footer';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    overflow-x: none;
}

body {
    background-color: variaveis.$corDeFundo !important;
}

@mixin title($fontSize: 40px) {
    color: variaveis.$cortitle;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$cortitle;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$cortitle;
    font-family: variaveis.$fontTitle;
    text-transform: uppercase
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--medium {
    @include text(18px);
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title--medium {
    @include title(30px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
    color: variaveis.$cortitle;
}

@mixin iframeModal() {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 15% 35%;
    iframe {
        transition: .8s ease-in-out;
    }
    img {
        position: relative;
        bottom: 20px;
        left: 600px;
        border: none;
        width: 38px;
        cursor: pointer;
        display: none;
    }
}

.iframe__modal {
    @include iframeModal;
    @media screen and (min-width: 768px) and (max-width: 1080px) {
        max-width: 1080px;
        width: 100%;
        padding: 150px 50px;
    }
}

#closeBtnModal {
    display: flex;
    position: relative;
    bottom: 200px;
    left: 620px;
    border: none;
    width: 38px;
    display: none;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        left: 300px;
    }
}

.scrollToTop {
    background-color: transparent;
    border: none;
    color: #fff;
    position: fixed;
    bottom: 30px;
    right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    z-index: 99;
}