$corDeFundo: #be2e2e;
$corDaHeader: #a7141e;
$corDeFundoSecondary: #b22222;
$corBotao: #FFB800;
$cortitle: #F9F9F9;
$corParagrafo: #BABABA;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@200;400;500&display=swap');
$fontTitle: 'Anton',
sans-serif;
$fontText: 'Poppins',
sans-serif;